@media screen and (min-width: 650px) {
  #card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 80%;
  }

  #left-section {
    flex-basis: 50%;

    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
  }

  #right-section {
    flex-basis: 50%;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }

  .wrapper {
    font-size: 1rem;
  }

  .wrapper > h4 {
    margin-top: 50px;
  }

  .wrapper > h1 {
    margin-top: 45px;
    margin-bottom: 45px;
    line-height: 45px;
  }

  .wrapper > p {
    line-height: 35px;
  }
  
}
