:root {
  --primary-dark-cyan: hsl(158, 36%, 37%);
  --primary-cream: hsl(30, 38%, 92%);
  --neutral-very-dark-blue: hsl(212, 21%, 14%);
  --neutral-dark-grayish-blue: hsl(228, 12%, 48%);
  --neutral-white: hsl(0, 0%, 100%);
}

body,
html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-cream);
}

#card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 76%;
  width: 95%;
}

#left-section {
  background-image: url("./images/image-product-desktop.jpg");
  background-size: cover;
  background-position: center;

  flex-basis: 40%;
  height: 100%;
  width: 100%;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#right-section {
  flex-basis: 60%;
  height: 100%;
  width: 100%;

  background-color: var(--neutral-white);

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#price-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  gap: 10%;
}

.wrapper {
  font-size: 0.8rem;

  padding-left: 9%;
  padding-right: 9%;
}

/* FONT STYLING */

.wrapper > h4, .wrapper > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--neutral-dark-grayish-blue);
}

button > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.wrapper > h1 , #price-section > h1 {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
}

.wrapper > p {
  line-height: 25px;
}

.wrapper > h1 {
  line-height: 35px;
}

.wrapper > h4 {
  letter-spacing: 5px;
}

#price-section > h4 {
  text-decoration: line-through;
  color: var(--neutral-dark-grayish-blue)
}

#price-section > h1 {
  color: var(--primary-dark-cyan);
}

/* BUTTON STYLING */

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  height: 13%;
  width: 100%;

  margin-bottom: 10%;

  color: var(--neutral-white);
  background-color: var(--primary-dark-cyan);
}

/*
  font-family: "Montserrat", sans-serif;
  font-weight: 500, 700;

  font-family: "Fraunces", sans-serif;
  font-weight: 700;

*/
